<div class="inner-container">
  <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="1000" [alwaysCallback]="true"
    [scrollWindow]="false" (scrolled)="onScroll()" class="scroll-container">
    <mat-card *ngFor="let item of items" class="card">
      <mat-card-content>
        {{item}}
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isError" class="card error">
      <mat-card-content>An error occurred</mat-card-content>
    </mat-card>
    <mat-card *ngIf="isLoading" class="spinner card">
      <mat-spinner [diameter]="30"></mat-spinner>
    </mat-card>
  </div>
</div>
