.inner-container {
  position: relative;
}

.scroll-container {
  height: 70vh;
  width: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 16px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.error {
  color: red;
}

.card {
  width: 80%;
  margin-bottom: 16px;
}
