<div class="container">
  <div class="inner-container">
    <div *ngIf="isLoading" class="spinner">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="1000" [alwaysCallback]="true"
      [scrollWindow]="false" (scrolled)="onScroll()" class="scroll-container">
      <mat-card *ngFor="let item of items" class="card">
        <mat-card-content>
          {{item}}
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
