<section infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" [alwaysCallback]="true"
  [scrollWindow]="false" (scrolled)="loadMore()" class="scroll-container">
  <mat-card *ngFor="let item of items" class="item">
    <mat-card-content class="item-content">
      {{item}}
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isError" class="item error">
    <mat-card-content>An error occurred</mat-card-content>
  </mat-card>
  <ng-container *ngIf="isLoading">
    <ngx-skeleton-loader [count]="numberOfSkeletons" appearance="line"
      [theme]="{'height': '10rem', 'margin': '0 10% 24px', 'width': '80%'}">
    </ngx-skeleton-loader>
  </ng-container>
</section>
